*
!_Helper.ipynb
!README.md 
!opencv_face_detector_uint8.pb
!opencv_face_detector.pbtxt
!requirements.txt
!.gitignore
!todo.md
!*.bat
gradio_test.py
!scripts
!img_processing.py
!caption_list.py
!__init__.py
!delete_words.py