jupyter==1.0.0
opencv-python==4.10.0.84
imagehash == 4.3.1
Pillow==10.2.0
tqdm==4.66.6
pandas==2.2.3
numpy == 1.26.4
dlib == 19.24.4
regex==2024.9.11
rembg[gpu]==2.0.57
rembg == 2.0.57
onnxruntime-gpu == 1.18.0

gradio==5.22.0
gradio-client==1.8.0
groovy==0.1.2
huggingface-hub==0.29.3
pydantic==2.9.2
fastapi==0.115.11
starlette==0.46.1
ruff==0.11.2